@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "ALSRubl";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ALSRubl/ALSRubl.eot");
  src: url("../fonts/ALSRubl/ALSRubl.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSRubl/ALSRubl.woff") format("woff"), url("../fonts/ALSRubl/ALSRubl.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #333333;
  color: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: solid 2px #fff;
    border-radius: 30px;
  height: 40px;
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.12px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7); }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7); }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7); }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: rgba(255, 255, 255, 0.7); }
  input:hover, textarea:hover, select:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

select {
  color: #fff; }

.select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: url("../img/arrow-bottom-white.png") no-repeat calc(100% - 16px) center;
    background-size: 10px; }

textarea {
  height: 94px;
  padding: 13px 20px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 20px; }

label {
  display: block;
  width: 100%; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  font-size: 10px;
  font-weight: 500; }

.inp-check {
  display: none; }

.checkbox-custom {
  border: solid 2px #fff;
    border-radius: 3px;
  width: 13px;
  min-width: 13px;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 2px 8px 0 0; }

.inp-check:checked + .checkbox-custom {
  background: #fff; }

.form-row {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.label-message {
  width: calc(100% - 220px); }

.form-col {
  max-width: 220px;
  padding: 0 0 0 10px; }

.consent {
  margin: 21px 0 0;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  mix-blend-mode: overlay; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: -0.12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 19px;
  border-radius: 20px; }

.btn-accent {
  color: #fff; }

.btn-white {
  background: #fff;
  color: #630; }
  .btn-white:hover {
    background: #999;
    color: #fff; }
    .btn-white:hover .btn-icon {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }

.btn-icon {
  max-width: 23px;
  margin: 0 8px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn-border {
  border: solid 2px #fff;
  background: transparent;
  color: #fff; }
  .btn-border:hover {
    background: #630;
    color: #fff; }
  .btn-border .btn-arrow {
    margin: 0 0 0 17px;
    max-width: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.ul-my {
  list-style: none; }

strong, b {
  display: inline-block;
  font-weight: bold; }

h2, h1 {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 23px; }

h1 {
  margin: 0 0 36px; }

.d-inline {
  display: inline-block; }

.text-decoration {
  text-decoration: underline; }

.color-white {
  color: #fff; }

a.color-white:hover {
  color: #999; }

.mb-30 {
  margin-bottom: 30px; }

.mb-10 {
  margin-bottom: 10px; }

.container {
  max-width: 1120px;
  padding: 0 5px; }

.row {
  margin: 0 -5px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0 5px; }

.slick-slider {
  width: 100%; }

.slick-slide {
  opacity: 1; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 42px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  opacity: 1;
  border: none;
    border-radius: 0;
  background: transparent;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .slick-arrow:hover {
    -webkit-filter: none;
            filter: none; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.slick-disabled {
  opacity: 0; }

.slider-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .slider-nav .slick-arrow {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transform: none;
            transform: none; }
  .slider-nav .slick-next {
    margin: 0 0 0 21px; }

.rub {
  display: inline-block;
  font-family: 'ALSRubl', sans-serif;
  font-weight: normal; }

.page-navigation {
  margin: 0 0 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.breadcrumb {
  padding: 0;
  border: none;
    border-radius: 0;
  background: transparent;
  margin: 0 0 0 28px;
  font-size: 12px;
  font-weight: 500;
  color: #fff; }
  .breadcrumb li a {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .breadcrumb li a:after {
      content: '—';
      display: inline-block;
      margin: 0 5px; }
  .breadcrumb .active {
    text-decoration: underline;
    color: #fff;
    font-weight: bold; }

.breadcrumb-item + .breadcrumb-item::before {
  display: none; }

.breadcrumb-item + .breadcrumb-item {
  padding: 0; }

.dropdown-toggle {
  height: 45px;
  font-size: 16px;
  border-radius: 30px; }
  .dropdown-toggle:after {
    display: none; }

.dropdown-toggle__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 25px;
  min-width: 25px;
  margin: 0 18px 0 0; }
  .dropdown-toggle__icon span {
    display: block;
    background: #fff;
    height: 2px;
    width: 100%;
    margin: 0 0 5px; }
    .dropdown-toggle__icon span:last-child {
      margin: 0;
      width: 15px; }
    .dropdown-toggle__icon span:nth-child(2) {
      width: 20px; }

.dropdown-menu {
  min-width: 270px;
  width: 100%;
  background: #fff;
  border: none;
    border-radius: 0;
  padding: 25px 0;
  font-size: 12px;
  font-weight: 500;
  -webkit-box-shadow: 0 0 71.3px 3.8px #000604;
          box-shadow: 0 0 71.3px 3.8px #000604; }

.dropdown-menu-list {
  width: 100%; }
  .dropdown-menu-list li a {
    padding: 9px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #313131; }
    .dropdown-menu-list li a:hover {
      color: #630;
      font-weight: bold; }
  .dropdown-menu-list__icon {
    margin: 0 22px 0 0;
    width: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.nav-tabs {
  width: 100%;
  margin: 29px 0 0;
  letter-spacing: -0.18px;
  font-size: 18px;
  border: none;
    border-radius: 0; }
  .nav-tabs .nav-link {
    padding: 9px 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    color: #fff;
    border: none;
      border-radius: 0;
      border-right: 1px solid #fff; }
    .nav-tabs .nav-link:first-child {
      border-left: 1px solid #fff; }
    .nav-tabs .nav-link.active {
      font-weight: bold;
      color: #fff;
      background: #1b1b1b; }

.tab-content {
  padding: 44px 0 0; }

.pagination-nav {
  margin: 20px 0 43px;
  width: 100%; }

.pagination {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #c3c3c3;
  letter-spacing: -0.12px;
  font-size: 11.5px;
  font-weight: 500; }
  .pagination a {
    color: #c3c3c3; }
  .pagination .page-link {
    background: transparent;
    border: 2px solid transparent;
      border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0; }
    .pagination .page-link:hover {
      color: #fff; }
  .pagination .active .page-link {
    font-weight: bold;
    color: #fff;
    background: transparent;
    border-color: #fff; }
  .pagination .page-link-arrow {
    border: none;
      border-radius: 0;
    width: 31px;
    height: 15px;
    min-width: 31px; }
    .pagination .page-link-arrow img {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
